@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Urbanist';
}

body{
    width: 100%;
    height: 100vh;
    background-color: #808e9b;
}

.weather-app-data{
    max-width: 1400px;
    margin: 2rem auto 2rem auto;
    display:flex;
    align-items: center;
}

.container-one{
    width: 1000px;
    background-color: #d2eced;
}
.container-two{
    width: 400px;
    background-color: white;
}

.card-One, .card-Two{
    width: 100%;
    padding-top: 2rem;
    height: 90vh;
}

/* form styling */
.search_form{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.search_form input{
    padding: 5px;
}
button{
    padding: 0px 10px;
    border:0;
    background-color: #d2dae2;
    color:white;
    font-weight: 700px;
    letter-spacing: 1.5px;
}

.data-card ul{
    list-style-type: none;
    
}

.card-two-card-two .data-card ul{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: white;
    

}

.card-two-card-two{
    width: 300px;
    height: 400px;
    border: 1px solid white;
    margin: 0 auto 15px auto;
    border-radius: 10px;
    background-color:#0fbcf9;
}

.card-two-card-three, .card-two-card-four{
    max-width: 300px;
    margin: 0 auto 10px auto;
}

.wind-card, .temp-card{
    width: 100%;
    color:white;
    font-weight: 600;
}
.wind-card{
    background-color: #ff9ff3;
    padding: 10px 15px;
}

.wind-card-data{
    display:flex;
    justify-content: space-between;
   
}

.humid-card-data{
    display:flex;
    justify-content: space-between;
    
}
.temp-card{
    background-color: #dfe6e9;
    padding: 10px 15px;
}

.temprature_farenheit, .temprature_celcius{
    display: flex;
    justify-content:space-between;
}

.temprature_farenheit img, .temprature_celcius img{
   max-width: 20px;
}

.wind-card-data img, .humid-card-data img{
    width: 22px;
}

/* data card styling starts */



/* wind value image styling starts */
#wind_value img, #humid_value img {
    width: 20px;
}

#wind_value, #humid_value{
    display: flex;
    justify-content:  space-around;
}

#wind_value p, #humid_value p{
    font-weight: 900px;
    color:white;
    font-weight: 600;
}
