@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap');


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Urbanist';
}

body{
    background-image: url('./images/image.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;

}

.wether-app-container{
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 10rem;
}
.weather-app-data{
    display: flex;
    justify-content: space-between;

}

.list_items li{
    color:white;
    list-style-type: none;
    margin-bottom: 1rem;
}

form input{
    padding: 8px;
    border:none;
    background-color: rgba(245, 241, 241, 0.395);
    letter-spacing: 1px;

}

form input::placeholder{
    color:white
}
button{
    padding: 8px;
    border: none;
    background-color: rgba(245, 241, 241, 0.395);
    color:white;
    letter-spacing: 1px;
}

.country_part{
    display: flex;
    gap: 1rem;
}
.country_part>:nth-child(1){
    font-size: 1.5rem;
    font-weight: 900;

}

.country_part>:nth-child(2),
.country_part>:nth-child(3){
    display: flex;
    align-items: self-end;
}

