@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');


*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-color: #9980FA
}

.weather-app-container{
   display:flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   
}

.container-left{
    width: 600px;
    height: 640px;
    background-color: #e7f3f4;
}


/* left container styling starts */

.left-container{
    padding: 40px
}

#date_am_pm{
    font-size: 2.5rem;
    font-family: 'Gabarito', sans-serif;
    color: #575fcf;
    font-weight: 700;

}

#dateYear{
    font-size: 1rem;
    font-family: 'Gabarito', sans-serif;
    color: #0b0b0b;
    
}

.container-right{
    width: 400px;
    height: 640px;
    background-color: white;

}
.right-container{
    padding: 30px;

}
form {
    display: flex;
    align-items: center;
    justify-content:  space-between;
}
form input{
    border: none;
    padding: 5px;
    background-color: #ebf3f3;
}
input:focus{
    outline: none
}
.form_search{
    background-color: #ebf3f3;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 2px;
    border-radius: 15px;
}
button{
    border:none;
    background-color: #ebf3f3;
    cursor: pointer;
    padding-right: 10px;
    color:rgb(155, 150, 150)
}

form img{
    width: 20px;
}

.person_Logo img{
    width: 50px;
}

/* Country-info-card styling starts */

.Country-info-Card{
    background-color: #9c88ff;
    margin-top: 1rem;
    padding: 15px;
    border-radius: 10px;
    color:white;
}

.cityDetails{
    text-align: center;
}

.temp-date-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.temp-date-details img{
    width: 100px;
    margin-top: -10px;
}

#cityName{
    font-family: 'Gabarito', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}
#region, #countryName{
    font-family: 'Gabarito', sans-serif;
   
}

#getDate, #tempData, #wheatherType{
    font-family: 'Gabarito', sans-serif;
    /* border: 1px solid white; */
    
}
#tempData{
    font-size: 5rem;
    margin-top: -10px;
    
}

#wheatherType{
    margin-bottom: 1rem;
    /* border: 1px solid white; */

}


#image_icon{
    /* border: 1px solid white; */
    margin-bottom: 1rem;
    margin-top: 10px;
    
} 
#getDate{
    margin-top: -10px;
}

/* weather_Details styling starts */

.weather_Details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weather_Details .list_items img{
    width: 18px;
}

.weather_Details ul li {
    list-style-type: none;
}

.weather_Details .list_items{
    display:flex;
    justify-content: center;
    font-family: 'Gabarito', sans-serif;
    gap: 10px;

}

/* max-min-temp styling starts */

.max-min-temp{
    margin-top: 1rem;
    font-family: 'Gabarito', sans-serif;
    background-color: #e056fd;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

.max-min-temp ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.max-min-temp .list-items img{
    width: 25px;
}

.max-min-temp .list-items>:nth-child(5){
    font-size: 1rem !important;
    font-weight: 400 !important;
}

/* forecast weather container styling starts */



.forecast-weather{
    margin-top: 1rem;
    background-color: white;
    padding: 10px;
}

.forecastData{
    display: flex;
}

.forecastData p{
    font-size: 15px;
}

.forecast-weather h1{
    font-family: 'Gabarito', sans-serif;
    color: #272828;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.forecast-container{
    background-color: #fcf1d0;
    padding: 5px;
    border-radius: 10px;
}

.forecastData{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.forecast-info{
    display: flex;
    font-family: 'Gabarito', sans-serif;
    align-items: center;
}


.forecast-container:hover{
    background-color:  #9c88ff;
    color:white;
    padding: 5px;
    border-radius: 10px;
}


#forecast_image{
    width: 80px;
    
}
.forecast-container>:nth-child(1){
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Gabarito', sans-serif;
}

/* sunrise and sunset styling starts */

.city_heading{
    display: flex;
    justify-content: space-between;
}

/* sunrise and sunset styling */

.sunrise_sunset{
    margin-top: 1rem;
    background-color: #575fcf;
    color: white;
}
.sunrise_sunset .city_heading  #cityName, #sunrise_heading{
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 5px;

}
.sunrise_items, .sunset_items{
    list-style-type: none;
}

.sunrise-data{
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.sunriseData, .sunsetData{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sunset_items, .sunrise_items{
    margin-top: 15px;
    font-family: 'Gabarito', sans-serif;
}

.sunrise_items >:nth-child(1),
.sunset_items >:nth-child(1){
    font-size: 10px;
    color:rgb(204, 204, 241)
}


.sunriseData img, 
.sunsetData img {
    width: 80px;
}


.sunriseInfo{
    display: flex;
    justify-content: space-evenly;
}

.moonrise-data{
    display: flex;
    padding: 10px;
    flex-direction: column;
}


.forecast-inhour{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.forecast-inhour div{
    background-color: rgb(216, 251, 216);
    padding: 10px;
    font-family: 'Gabarito', sans-serif;
    color: green;
    font-size: 13px;
    border-radius: 15px;
}

.forecast-inhour div img{
    width: 60px;
}